
/* ======= Reset ======= */

* {
    padding: 0;
    margin: 0;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Mukta Mahee', sans-serif;
}

/* Main container */

.getawayMain {
    width: 100%;
    height: 100%;
    position: absolute;
}