.destination-card-container .destination-card {
    display: inline-block;
    width: calc(33% - 31px);
    box-sizing: border-box;
    border-radius: 4px;
    margin: 16px 16px 30px 16px;
    text-align: center;
    position: relative;
    padding-top: 15px;
    padding-bottom: 8px;
}

.destination-card-container .destination-card:hover {
    background: #eee;
    cursor: pointer;
}

.destination-card-container .destination-card:not(:last-child):after {
    content: "";
    background: #220B38;
    opacity: .42;
    border-radius: 10px;
    position: absolute;
    right: -20px;
    height: 30px;
    width: 4px;
    top: 96px;
}

.destination-card .destination-photo {
    object-fit: cover;
    height: 200px;
    width: 200px;
}

.destination-card .destination-name {
    color: #220B38;
    font-size: 20px;
    font-weight: 600;
}

.destination-card .destination-country {
    text-transform: uppercase;
    color: #777;
    font-size: 14px;
    font-weight: 600;
}
