.landmark-card-container .landmark-card {
	display: inline-block;
	width: calc(25% - 35px);
	box-sizing: border-box;
	border-radius: 4px;
	margin: 15px 16px 30px 16px;
	margin-bottom: 50px;
	text-align: center;
	position: relative;
	padding-top: 15px;
	padding-bottom: 8px;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

@media screen and (max-width: 840px) {

	.landmark-card-container .landmark-card {
		width: calc(50% - 34px);
		margin-bottom: 40px;
	}

}

@media screen and (max-width: 440px) {

	.landmark-card-container .landmark-card {
		width: calc(100% - 34px);
		margin-bottom: 30px;
	}

}

.landmark-card-container .landmark-card:hover {
	background: #eee;
	cursor: pointer;
}

.landmark-card .landmark-photo {
	object-fit: cover;
	height: 152px;
	width: 152px;
	border-radius: 50%;
}

.landmark-card .landmark-name {
	color: #220B38;
	font-size: 18px;
	font-weight: 600;
}

.landmark-card .landmark-destination {
	text-transform: uppercase;
	color: #777;
	font-size: 14px;
	font-weight: 600;
}