section.destinationsMain {
	max-width: 1080px;
	margin: 0 auto;
}

section.destinationsMain h2 {
	font-size: 18px;
	opacity: .67;
	font-weight: 500;
	margin-top: 16px;
	margin-bottom: 8px;
	border-bottom: 2px dotted #ccc;
}

@media screen and (max-width: 1080px) {

	section.destinationsMain h2 {
		margin: 16px 16px 8px 16px;
	}

}