
/* ======= Reset ======= */

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Mukta Mahee', sans-serif;
}


/* ======= Header ======= */

.headerMain .logo-container {
	height: 68px;
	background: #220B38;
}

@media screen and (max-width: 840px) {

	.headerMain .logo-container {
		height: 58px;
	}

}

.headerMain .logo-container img {
	height: 36px;
	padding: 16px;

	cursor: pointer;
}

@media screen and (max-width: 840px) {

	.headerMain .logo-container img {
		height: 30px;
		padding: 14px 16px;
	}

}


/* ======= Destination top section ======= */

.getawayMain .topSection {
	background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/346954/GettyImages-500759045_super.jpg");
	width: 100%;
	height: 340px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 -80px;
	margin-bottom: 8px;
}

@media screen and (max-width: 840px) {

	.getawayMain .topSection {
		height: 300px;
	}

}

@media screen and (max-width: 520px) {

	.getawayMain .topSection {
		height: 270px;
	}

}

.topSection .header-shadow-overlay {
	background: linear-gradient(113deg, rgba(249, 123, 92, 0.64) 6%,rgba(176, 77, 230, 0.64) 97%);
	height: 340px;
	width: 100%;
	position: absolute;
	top: 68px;
	opacity: 1;
}

@media screen and (max-width: 840px) {

	.topSection .header-shadow-overlay {
		height: 300px;
		top: 58px;
	}

}

@media screen and (max-width: 520px) {

	.topSection .header-shadow-overlay {
		height: 270px;
	}

}

.topSection h1 {
	color: rgba(255, 255, 255, 0.22);
	text-align: center;
	top: 82px;
	position: absolute;
	width: 100%;
	font-weight: 500;
	font-size: 150px;
}

.topSection h3 {
	color: #ffffff;
	opacity: .64;
	text-align: center;
	font-weight: 500;
	font-size: 22px;
	top: 270px;
	position: absolute;
	width: 100%;
	letter-spacing: .8px;
}

@media screen and (max-width: 840px) {

	.topSection h3 {
		top: 240px;
	}

}

@media screen and (max-width: 840px) {

	.topSection h1 {
		top: 120px;
		font-size: 90px;
	}

}

@media screen and (max-width: 700px) {

	.topSection h1 {
		padding: 0 8px;
		box-sizing: border-box;
	}

}

@media screen and (max-width: 520px) {

	.topSection h1 {
		top: 160px;
		padding: 0 16px;
	}

}


/* Destination info */

section.destinationInfo {
	max-width: 1080px;
	margin: 0 auto;
}

/* Headline */
section.destinationInfo h2 {
	font-size: 24px;
	opacity: .87;
	font-weight: 400;
	margin: 16px 0;
	margin-top: 30px;
	text-align: center;
	line-height: 38px;
	width: 100%;
}

@media screen and (max-width: 840px) {

	section.destinationInfo h2 {
		margin-top: 40px;
		padding: 0 16px;
		box-sizing: border-box;
	}

}

.info-container {
	width: 100%;
	box-sizing: border-box;
	padding: 4px 16px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.info-container .info-element {
	margin: 4px 0;
	height: 32px;
	padding-right: 30px;
	position: relative;
}

@media screen and (max-width: 840px) {

	.info-container .info-element {
		padding-right: 0;
		padding: 0 26px;
	}

}

.info-container .info-element i {
	position: absolute;
	top: 4px;
	left: 2px;
	opacity: .52;
	font-size: 22px;
}

@media screen and (max-width: 960px) {

	.info-container .info-element i {
		display: none;
	}

}

.info-container .info-element b {
	line-height: 32px;
	padding-left: 36px;
	opacity: .67;
}

@media screen and (max-width: 960px) {

	.info-container .info-element b {
		padding-left: 16px;
	}

}

@media screen and (max-width: 840px) {

	.info-container .info-element b {
		padding-left: 0;
	}

}

@media screen and (max-width: 700px) {

	.info-container .info-element b {
		font-size: 14px;
	}

}

.info-container .info-element span {
	padding-left: 8px;
	opacity: .52;
	font-weight: 500;
}

@media screen and (max-width: 840px) {

	.info-container .info-element span {
		display: block;
		margin-top: -4px;
		padding-left: 0;
	}

}

@media screen and (max-width: 700px) {

	.info-container .info-element span {
		margin-top: -6px;
		padding-left: 0;
		font-size: 14px;
	}

}


/* Travel outline section */

section.outlineMain {
	max-width: 1080px;
	margin: 0 auto;
}

.outlineMain .outline-container {
	padding: 16px;
	margin: 20px auto;
	max-width: 760px;
	margin-bottom: 30px;
	font-size: 18px;
	line-height: 31px;
}

.outlineMain .outline-container p {
	margin-bottom: 20px;
}

/**/
.read-more {
	position: relative;
	text-decoration: none;
	cursor: text;
	display: flex;
	align-items: center;
	justify-content: center;
}
.read-more .trigger {
	display: block;
	position: absolute;
	bottom: -8px;
	cursor: pointer;
	color: #983efc;
	text-align: center;
	border: 2px solid #983efc;
	padding: 2px 16px;
	border-radius: 50px;
	font-size: 16px;
	font-weight: 500;
}
.read-more .outline-text {
	position: relative;
	overflow: hidden;
	max-height: 240px;
	margin-bottom: 30px;
	transition: max-height 500ms ease;
}
.read-more .outline-text::before {
	content: '';
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 50%, white 100%);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 78.4px;
	transition: opactiy 500ms ease, visibility 500ms ease;
}
.read-more.expanded .outline-text {
	max-height: 6000px;
}
.read-more.expanded .outline-text::before,
.read-more.expanded .trigger {
	opacity: 0;
	visibility: hidden;
}


/* Landmarks section */

section.destinationLandmarks {
	max-width: 1080px;
	margin: 0 auto;
	margin-top: 30px;
}

section.destinationLandmarks h2 {
	font-size: 18px;
	opacity: .67;
	font-weight: 500;
	margin-top: 16px;
	margin-bottom: 8px;
	border-bottom: 2px dotted #ccc;
}

@media screen and (max-width: 1080px) {

	section.destinationLandmarks h2 {
		margin: 16px 16px 8px 16px;
	}

}

.landmark-card-container .landmark-card {
	display: inline-block;
	width: calc(20% - 35px);
	box-sizing: border-box;
	border-radius: 4px;
	margin: 15px 16px 30px 16px;
	margin-bottom: 50px;
	text-align: center;
	position: relative;
	padding-top: 15px;
	padding-bottom: 8px;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

@media screen and (max-width: 840px) {

	.landmark-card-container .landmark-card {
		width: calc(50% - 34px);
		margin-bottom: 30px;
	}
	
	.landmark-card-container .landmark-card:last-child {
		width: calc(100% - 34px);
		margin-bottom: 40px;
	}

}

@media screen and (max-width: 440px) {

	.landmark-card-container .landmark-card {
		width: calc(100% - 34px);
		margin-bottom: 30px;
	}

}

.landmark-card-container .landmark-card:hover {
	background: #eee;
	cursor: pointer;
}

.landmark-card .landmark-photo {
	object-fit: cover;
	height: 120px;
	width: 120px;
	border-radius: 50%;
}

.landmark-card .landmark-name {
	color: #220B38;
	font-size: 18px;
	font-weight: 600;
}

/* Rating */
span.rt-val {
	color: #ffbc00;
	font-size: 14px;
	font-weight: 700;
	margin-right: 4px;
}

span.rt-bg {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAmCAQAAAAYCMGrAAAA+klEQVR4AcWV4cbtMBBFF0MIVUopoVSrhDDv/3gf/RFRpzdNOty1HiBO99mzeYWgCMZMKCPGrCgrxiSUhCkDeukxJKCXAUMiehkxw6FZhxEzmp0x4kCzByYISqlYdal0supS6WrVpdLEK0YSamJiJOPY0c/uOG4s6CcXfuKJaJcRzyNCQJsNiF1sRTR1hP11NNJ8RCrONOPRf+r7J+TZgQ5CNfMOYvW/2YxDqzqA/57+gVY9eiakrnyZEGXDsaE3p/4JScwPX3rtnZATDxnPWT7X16XAHaH8HWNrlxJD9TyGti5tCM84zpZe+RxNjeX9tZqLaGoMxN/P/wHP5Vw+8ZxnEQAAAABJRU5ErkJggg==);
	background-repeat: repeat-x;
	display: inline-block;
	overflow: hidden;
	position: relative;
	background-size: 14px 13px;
	height: 13px;
	top: 1px;
	width: 69px;
}

span.rt-bg span {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAmCAMAAACF3/kSAAAASFBMVEUAAAD/////vAD/vAD/vAD/vAD/vAD/vAD/vAD/vAD/vAD/vAD/vAD/vAD/vAD/vAD/vAD/vAD/vAD/vAD/vAD/vAD/vAD/vADSRdjWAAAAF3RSTlMAABAgMEBQYG9wf4+Qn6Cvv8DP3+Dv8AL4XbcAAAD2SURBVHgBjdPrjq0gDIZhLXhA2XgQ/e7/TncWq5NxoA28v58YSqUrI1BX1Pe9QCeMrTQgtNIHTyMdANg26gH4NhoBxCZq8Mm0UJeoa6FHokcDJXyjOp2YTnUamIY6fZg+Ah1v1LvH9FWzV+Vufg6wVOTyOqu9oHfZP2PRqsqV8htQprtH4bJol+Yh+V7nQs7qCmwmrb6tIaODTn1GvU5jRqNKDfKMRl1BnUaPgh4KJZSRTCdwm9nATTINvPX5tbggUn4qp/0u7uRnI1Be1dpx9A+fxoLyqu60yvdv6SUagY26d+YEokBtmidrAWxJXZonb7jcL/0PRX0uSqPrf20AAAAASUVORK5CYII=);
	background-repeat: repeat-x;
	display: block;
	background-size: 14px 13px;
	height: 13px;
	top: 1px;
	width: 0;
}

.rt-bg span[data-rating='0.3'],
.rt-bg span[data-rating='0.4'],
.rt-bg span[data-rating='0.5'],
.rt-bg span[data-rating='0.6'] {
	width: 7px;
}

.rt-bg span[data-rating='0.7'],
.rt-bg span[data-rating='0.8'],
.rt-bg span[data-rating='0.9'],
.rt-bg span[data-rating='1'],
.rt-bg span[data-rating='1.1'],
.rt-bg span[data-rating='1.2'] {
	width: 13px;
}

.rt-bg span[data-rating='1.3'],
.rt-bg span[data-rating='1.4'],
.rt-bg span[data-rating='1.5'],
.rt-bg span[data-rating='1.6'] {
	width: 21px;
}

.rt-bg span[data-rating='1.7'],
.rt-bg span[data-rating='1.8'],
.rt-bg span[data-rating='1.9'],
.rt-bg span[data-rating='2'],
.rt-bg span[data-rating='2.1'],
.rt-bg span[data-rating='2.2'] {
	width: 27px;
}

.rt-bg span[data-rating='2.3'],
.rt-bg span[data-rating='2.4'],
.rt-bg span[data-rating='2.5'],
.rt-bg span[data-rating='2.6'] {
	width: 35px;
}

.rt-bg span[data-rating='2.7'],
.rt-bg span[data-rating='2.8'],
.rt-bg span[data-rating='2.9'],
.rt-bg span[data-rating='3'],
.rt-bg span[data-rating='3.1'],
.rt-bg span[data-rating='3.2'] {
	width: 41px;
}

.rt-bg span[data-rating='3.3'],
.rt-bg span[data-rating='3.4'],
.rt-bg span[data-rating='3.5'],
.rt-bg span[data-rating='3.6'] {
	width: 48px;
}

.rt-bg span[data-rating='3.7'],
.rt-bg span[data-rating='3.8'],
.rt-bg span[data-rating='3.9'],
.rt-bg span[data-rating='4'],
.rt-bg span[data-rating='4.1'],
.rt-bg span[data-rating='4.2'] {
	width: 56px;
}

.rt-bg span[data-rating='4.3'],
.rt-bg span[data-rating='4.4'],
.rt-bg span[data-rating='4.5'],
.rt-bg span[data-rating='4.6'] {
	width: 63px;
}

.rt-bg span[data-rating='4.7'],
.rt-bg span[data-rating='4.8'],
.rt-bg span[data-rating='4.9'],
.rt-bg span[data-rating='5'] {
	width: 69px;
}


/**/

#map {
	height: 300px;
	width: 100%;
}


/* Footer section */

section.footerMain {
	background: #220B38;
	width: 100%;
	height: 120px;
	float: left;
}

.footerMain .top-bar {
	background: linear-gradient(113deg, rgb(249, 123, 92) 6%,rgb(176, 77, 230) 97%);
	height: 4px;
	width: 100%;
	position: absolute;
}